body{
    background-color: black;
}
.tab {
    columns: 300px;
    width: 19%;
    margin: 0px;
    border: 0px;
    background-color: rgb( 23, 61, 77);
    font: small;
    color: white;
    height: 100px;
}