<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign</title>
</head>
<body>
    <div>
    <button class="tab" onclick="location.href='/profile/'" >Profile</button>
    <button class="tab" onclick="location.href='/settings/'">Settings</button>
    <button class="tab" onclick="location.href='/calendar/'">Calendar</button>
    <button class="tab" onclick="location.href='/view_classes/'">Classes</button>
    <button class="tab" onclick="location.href='/tasks/'">Tasks</button>
    </div>
    <p>Title</p>
    <input type="text" name="title" placeholder="Title">
    <p>Due date</p>
    <input type="date" name="due_date" placeholder="Due date">
    <form action="action_page.php">
        <label for="subject">Enter subject:</label>
    <select name="class" id="class">
            <option value="Select">Select</option>

    </select>
    </form>
    <input type="text" name="link" placeholder="Link">
    <button type="submit">Apply task</button>
</body>
</html>