<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign</title>
</head>
<body>
    <div>
    <button class="tab" onclick="location.href='profile.html'" >Profile</button>
    <button class="tab" onclick="location.href='settings.html'">Settings</button>
    <button class="tab" onclick="location.href='calendar.html'">Calendar</button>
    <button class="tab" onclick="location.href='classes.html'">Classes</button>
    <button class="tab" onclick="location.href='tasks.html'">Tasks</button>
    </div>
    <p>Title</p>
    <input type="text" name="title" placeholder="Title">
    <p>Due date</p>
    <input type="date" name="due_date" placeholder="Due date">
    <form action="action_page.php">
        <label for="subject">Enter subject:</label>
    <select name="class" id="class">
            <option value="Select">Select</option>
            <!-- I will neeed to see how I deal with the options, THIS WILL NEED TO BE CHANGED WITH CLASSES INSTEAD OF SUBJECTS-->
    </select>
    </form>
    <input type="text" name="link" placeholder="Link">
    <button type="submit">Apply task</button>
    <!-- need to create a drop box for files-->
</body>
</html>