<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar tab</title>
    <link rel="stylesheet" href="calendar.css">
</head>
<body>
    <div>
    <button class="tab" onclick="location.href='/profile/'" >Profile</button>
    <button class="tab" onclick="location.href='/settings/'">Settings</button>
    <button class="tab" onclick="location.href='/calendar/'">Calendar</button>
    <button class="tab" onclick="location.href='/view_classes/'">Classes</button>
    <button class="tab" onclick="location.href='/tasks/'">Tasks</button>
    </div>
</body>
</html>