<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in page</title>
    <link rel="stylesheet" href="log_in.css">
</head>
<body>
    <center>
    <h1>Log in</h1>
    <p>Log in with</p>
    <p>Email</p>
    <form>
    <input type="email" name="log_in_email" placeholder="Input your Email">
    <p>Password</p>
    <input type="password" name="log_in_password" placeholder="Input your password">
    <p></p>
    <input type="submit" value="Log in">
    </form>
    </center>
</body>
</html> 