<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile tab</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div>
    <button class="tab" onclick="location.href='profile.html'" >Profile</button>
    <button class="tab" onclick="location.href='settings.html'">Settings</button>
    <button class="tab" onclick="location.href='calendar.html'">Calendar</button>
    <button class="tab" onclick="location.href='classes.html'">Classes</button>
    <button class="tab" onclick="location.href='tasks.html'">Tasks</button>
    </div>
</body>
</html>